<nav>
    <ul>
        <li><a href="/" class="<%= path === "/" ? "active" : ""  %>">Trang chủ</a></li>
        <li><a href="/add-product" class="<%= path === "/add-product" ? "active" : ""  %>">Thêm sản phẩm</a></li>
        <li><a href="/product" class="<%= path === "/product" ? "active" : ""  %>">Sản phẩm</a></li>
    </ul>
</nav>