nav.container
    ul
        li 
            a(href="/", class=(path === '/' ? 'active' : '')) Trang chủ 
        li 
            a(href="/add-product", class=(path === '/add-product' ? 'active' : '')) Thêm sản phẩm
        li 
            a(href="/product", , class=(path === '/product' ? 'active' : '')) Sản phẩm 