<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <nav class="container">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/add-product">Thêm sản phẩm</a></li>
            <li><a class="active" href="/product">Sản phẩm</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Danh sách sản phẩm</h1>
        <p>List....</p>
    </div>
</body>
</html>