extends layouts/main-layout.pug

block body
    .container 
        h1 Danh sách sản phẩm
            if data.length > 0
                table
                    thead 
                        th STT
                        th Tên sản phẩm
                    tbody 
                        each product, i in data
                            tr
                                td.stt #{i + 1}
                                td #{product.title}
            else 
                h1 Không có sản phẩm nào

        
