<nav>
    <ul>
        <li><a href="/" class="{{#if activeHome }}active{{/if}}">Trang chủ</a></li>
        <li><a href="/add-product" class="{{#if activeAddProduct }}active{{/if}}">Thêm sản phẩm</a></li>
        <li><a href="/product" class="{{#if activeProduct }}active{{/if}}">Sản phẩm</a></li>
    </ul>
</nav>