<%- include('layouts/partials/head.ejs') %>

<body>
    <header>
        <%- include('layouts/partials/navigation.ejs') %>
    </header>
    <div class="container">
        <h1>Trang chủ</h1>
    </div>
</body>

</html>