<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <div class="container">
        <header>
            <%- include('partials/navigation.ejs') %>
        </header>
        <div class="body-page">
            <h1>Trang chủ</h1>
        </div>
    </div>
</body>
</html>