<nav>
    <ul>
        <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
        <li><a href="/shop" class="<%= path === '/shop' ? 'active' : '' %>">Shop</a></li>
        <li><a href="/add-product" class="<%= path === '/add-product' ? 'active' : '' %>">Add product</a></li>
    </ul>
</nav>